[project]
	description = Some generic data structure implementations in C.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Cassiano Kleinert Casagrande (cassianokc)
[access "refs/for/refs/*"]
	read = group user/Cassiano Kleinert Casagrande (cassianokc)
	push = group user/Cassiano Kleinert Casagrande (cassianokc)
	label-Code-Review = -2..+2 group user/Cassiano Kleinert Casagrande (cassianokc)
	label-Verified = -1..+1 group user/Cassiano Kleinert Casagrande (cassianokc)
	rebase = group user/Cassiano Kleinert Casagrande (cassianokc)
	removeReviewer = group user/Cassiano Kleinert Casagrande (cassianokc)
	submit = group user/Cassiano Kleinert Casagrande (cassianokc)
[access "refs/heads/*"]
	read = group user/Cassiano Kleinert Casagrande (cassianokc)
	create = group user/Cassiano Kleinert Casagrande (cassianokc)
	push = +force group user/Cassiano Kleinert Casagrande (cassianokc)
	pushMerge = group user/Cassiano Kleinert Casagrande (cassianokc)
[access "refs/tags/*"]
	push = +force group user/Cassiano Kleinert Casagrande (cassianokc)
	pushTag = group user/Cassiano Kleinert Casagrande (cassianokc)
	pushSignedTag = group user/Cassiano Kleinert Casagrande (cassianokc)
